public/notes.dtd

<!ELEMENT notes (note*)>
<!ELEMENT note (FirstName, LastName, ClassName, ModuleName, ElementName, NoteElement)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT ClassName (#PCDATA)>
<!ELEMENT ModuleName (#PCDATA)>
<!ELEMENT ElementName (#PCDATA)>
<!ELEMENT NoteElement (#PCDATA)>

